.color-inputs {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;

  gap: 4px;

  margin: 0 16px 16px 16px;

  padding: 8px;

  border: 8px solid rgba(0, 0, 0, 0.45);
  border-radius: 16px;

}