.color-inputs {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;

  gap: 4px;

  margin-bottom: 16px;
  
  width: clamp(320px, 50vw, 700px);

  padding: 8px;

  border: 8px solid rgba(0, 0, 0, 0.45);
  border-radius: 16px;

}