.color-match-list {
  flex: 1;

  overflow-y: scroll;

  /* padding: 16px 0px 16px 0px; */

  border-radius: 16px;
}

/* .color-match-list::-webkit-scrollbar {
  display: none;
} */

.color-match-list-heading {
  color: white;
  font-size: 1.25rem;
  padding: 8px;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(32px);
  margin-bottom: 16px;
  border-radius: 8px 8px 0px 0px;
}
