.color-match {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  padding: 8px;

  margin-bottom: 16px;
  margin-left: 24px;
  margin-right: 24px;

  border: 8px solid rgba(0, 0, 0, 0.5);
  border-radius: 16px;

  color: white;
}

.color-match-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  flex: 1;

  font-size: 1.25rem;

  padding: 8px;

  margin: 8px 8px 8px 8px;

  border-radius: 8px;

  background-color: rgba(0, 0, 0, 0.5);
}

.info-heading {
  text-align: center;
  font-size: 0.9rem;

  padding: 4px;

  border-radius: 4px;

  background-color: rgba(0, 0, 0, 0.25);
}

.info-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  gap: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  gap: 4px;
  padding: 8px;
  border-radius: 8px;
}

.info-label {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
