.color-match {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  padding: 8px;

  margin-bottom: 16px;

  margin-left: 32px;
  margin-right: 32px;

  border: 8px solid rgba(0, 0, 0, 0.5);
  border-radius: 16px;

  color: white;
}

.color-match-info {
  display: flex;
  flex-wrap: wrap;
  flex: 1;

  justify-content: space-evenly;
  align-items: center;

  font-size: 1.25rem;

  padding: 8px;

  margin: 8px 16px 8px 16px;

  border-radius: 8px;

  background-color: rgba(0, 0, 0, 0.5);
}
