.app-heading {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  
  margin: 16px 16px 32px 16px;
  
  padding: 16px;
  
  color: white;

  border: 8px solid rgba(0, 0, 0, 0.45);
  border-radius: 16px;
}

.emoji {
  color: transparent;
}
