.app-heading {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;

  gap: 8px;
  
  /* margin: 16px 16px 16px 16px; */
  margin: 32px;

  width: clamp(320px, 50vw, 700px);
  
  padding: 16px;
  
  color: white;

  border: 8px solid rgba(0, 0, 0, 0.45);
  border-radius: 16px;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.emoji {
  color: transparent;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
}
.emoji:hover {
  cursor: pointer;
  color: white; /* Get rid of custom emoji color */
}