.app-container {
  display: flex;
  justify-content: center;
}

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 32px 16px 32px 16px;

  width: clamp(400px, 50vw, 700px);

  gap: 16px;
}
