.app-container {
  display: flex;
  justify-content: center;

  height: 100vh; /* Fallback for browsers that do not support custom properties */
  height: -webkit-fill-available;
  max-height: 100vh;

  overflow-x: hidden;
}

.app {
  width: 700px;

  display: flex;
  flex-direction: column;

  padding: 4px 16px 4px 16px;

  gap: 16px;
}
