.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-self: flex-end;

  gap: 8px;
  padding: 8px;
  
  text-align: center;


  font-size: 1.25rem;
  color: white;

}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex: 1;
  color: white;
  padding: 8px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  text-decoration: none;
}

.footer-icon {
  text-decoration: none;
}

